---
layout: default
meta_title: Registry Information
meta_description: Registry information and links
body_class: about
title: Registry Information
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
            <p>We've registered at</p>
            <ul>
                <li>Target</li>
                <li> Williams-Sonoma</li>
            </ul>
        </div>

    </article>

</main>